@font-face {
  font-family: "Raleway";
  src: url("assets/fonts/Raleway-Regular.ttf");
  font-weight: normal;
}

@font-face {
  font-family: "Raleway";
  src: url("assets/fonts/Raleway-Bold.ttf");
  font-weight: bold;
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Raleway";
  
  min-height: 100vh;
  margin: 0;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  padding: 0 5vw;
}

.header {
  /* border: 1px solid red; */
  padding: 0 0;
}

.main {
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 2vw 5vw;

}

.nav {
  background-color: cyan;
  margin: 0 0;
  padding: 1vh 1vw;
}

.nav-list {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  list-style: none;
}

.nav-item {
  border-left: 1px solid black;
}

.nav-link {
  padding: 0 20px;
  line-height: 50px;
  text-decoration: none;
  transition: .7s; 
  color: black;
}

.nav-link:visited{
  color: black;
}

.nav-link:hover{
  color: yellow;
}


.section {
}

.section-title {

}

.section-profile{
}

.code-example {
  background-color: #cfd8dc;
  border: 1px solid red;
  padding: 10px;
  display: block;
  scroll-behavior: inherit;
  word-wrap: break-word;
}

.year {
  font-size: 24px;
}

.image-link{
  padding: 2px 2px;
  align-self: center;
}
