@font-face {
  font-family: "Raleway";
  src: url("assets/fonts/Raleway-Regular.ttf");
  font-weight: normal;
}

@font-face {
  font-family: "Raleway";
  src: url("assets/fonts/Raleway-Bold.ttf");
  font-weight: bold;
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Raleway";
  font-size: 18px;
  
  min-height: 100vh;
  margin: 0;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  padding: 0 5vw;
}

.header {
  /* border: 1px solid red; */
  padding: 0 0;
  background-color: #424244;
}

.main {
}

.main-container{
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 2vw 5vw;
  background-color: #424244;
  color: white;
}

.nav {
  margin: 0 0;
  padding: 1vh 1vw;
}

.nav-list {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  list-style: none;
}

.nav-item {
  border-left: 1px solid white;
}

.nav-link {
  padding: 0 20px;
  line-height: 50px;
  text-decoration: none;
  transition: .7s; 
  color: white;
}

.nav-link:visited{
  color: white;
}

.nav-link:hover{
  color: yellow;
}


.section {
  width: 100%;
  padding: 15px;
}

.section-title {

}

.section-profile{
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  
}

.profile-title{
  font-size: 32px;
  text-transform: uppercase;
}

.code-example {
  background-color: #cfd8dc;
  border: 1px solid red;
  padding: 10px;
  display: block;
  scroll-behavior: inherit;
  word-wrap: break-word;
}

.year {
  font-size: 24px;
}

.image-link{
  padding: 2px 2px;
  align-self: center;
}


.left-column{
  width: 25%;
  background-color: #424244;
  color: white;
  padding: 0 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 0 5px;
  /* border: 1px solid red; */
}

.main-column{
  width: 75%;
  padding: 0 50px;
  /* border: 1px solid red; */
}

.profile-photo-container{
  display:flex;
  justify-content: center;
}

.profile-photo{
  width: 75%;
  border-radius: 50%;
  margin: auto;
  border: 1px solid white;
}

@media(max-width: 750px){
  .left-column{
    width: 100%;
  }
  .main-column{
    width: 100%;
  }
}
